html {
	min-height: 100vh;
	height: 100%;
}
body {
	height: 100%;
    font-size: responsive 12px 14px;
	line-height: $line-height;
	font-family: 'Open Sans', sans-serif;
	color: $main-color;
	background: $main-bg;
	overflow-x: hidden;
	min-width: 320px;
	min-height: 100vh;
	position: relative;
    display: flex;
    flex-direction: column;
}
a {
	transition: color 50ms ease-out;
	cursor: pointer;
	&:hover {
		color: $hover-color;
		text-decoration: none;
	}
	&:active {
		color: #fff;
		text-decoration: none;
	}
	&:focus {
		color: #fff;
		text-decoration: none;
	}
}
p {
	margin: 0;
}
button, input:focus, textarea:focus {
	outline: none
}
input[type="tel"],
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    transition: border-color 100ms ease;
}
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: $main-color;
}
select:focus {
    outline: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
img {
	max-width: 100%;
    height: auto;
}
iframe {
	max-width: 100%;
	height: auto;
}
.no-padding {
	padding: 0
}
.text--main {
	color: $main-color;
}
.text--thin {
	font-weight: 300;
}
.text--normal {
	font-weight: 400;
}
.text--medium {
    font-weight: 500;
}
.text--bold {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
	margin-bottom: 0;
	font-family: $title-font;
	color: $title-color;
}

h1, .h1{
    font-size: responsive 24px 40px;
}
h2, .h2{
    font-size: responsive 22px 36px;
}
h3, .h3{
    font-size: responsive 16px 20px;
}
h4, .h4{
    font-size: responsive 16px 18px;
}
h6, .h6{
	font-size: responsive 10px 12px;
}
.transition {
	transition: .25s;
}
.text--basic {
	font-family: $main-font;
	font-weight: 400;
	font-size: responsive 12px 14px;
	color: $main-color;
}
