footer.footer#footer
    .footer-main.flex-container.flex-side
        .footer-col
            .footer-title.footer-first-title Контакти
            .footer-title Адреса
            .footer-text 03000, Рівне, Рівн. область,<br>вул. Грушевського, 22
            .footer-title Телефони
            .footer-text <a href="tel:0671234524">+38(067)123 45 24</a><br><a href="tel:0671234524">+38(067)123 45 24</a>
            .footer-title Факс
            .footer-text +38(245)674 65 22
            .footer-title E-mail
            .footer-text <a href="mailto:dormat@ukr.net">dormat@ukr.net</a>
            .footer-title Соц. мережі
            .footer-text
                a(href="#" target="_blank").footer-soc-link
                    img(src="./images/fb.png" alt="fb" title="fb")
                a(href="#" target="_blank").footer-soc-link
                    img(src="./images/telegram.png" alt="tg" title="tg")
        .footer-col
            .footer-title.footer-first-title Напишіть нам
            .footerForm#footerForm
