.lang-main
    .container
        .row
            .lang-wrap
                a.lang-item EN
                a.lang-item UA
                a.lang-item RUS
header.header#header.flex-container
    .container
        .row
            .header-wrap
                .header-block
                    p.header-title.title Різноманіття матеріалів для асфальтобудування
                    p.header-text Від професійних властивостей матеріалу залежить довговічність і надійність будь-якого об”єкту. Якісне, довговічне і, головне, комплексне рішення пропонує вам ДОРМАТ сервіс.
                    img.header-img(src="./images/header-logo.png" alt="logo" title="logo")
                nav.header__nav.nav#nav
                    ul.menu-list.header__menu-list.flex-container
                        li.menu-item.header__menu-item
                            a(href="/").menu-link.header__menu-link.flex-container.flex-center Головна
                        li.menu-item.header__menu-item.dropdown
                            span.menu-link.header__menu-link.flex-container.flex-center Продукція
                            ul.dropdown-menu
                                li.menu-item.header__menu-item
                                    a(href="./category.html").menu-link.header__menu-link.flex-container.flex-center Продукція
                                li.menu-item.header__menu-item.dropdown
                                    a(href="./").menu-link.header__menu-link.flex-container.flex-center Продукція
                                    ul.dropdown-menu
                                        li.menu-item.header__menu-item
                                            a(href="./").menu-link.header__menu-link.flex-container.flex-center Продукція2
                                        li.menu-item.header__menu-item
                                            a(href="./").menu-link.header__menu-link.flex-container.flex-center Продукція2
                                        li.menu-item.header__menu-item
                                            a(href="./").menu-link.header__menu-link.flex-container.flex-center Продукція2
                                        li.menu-item.header__menu-item
                                            a(href="./").menu-link.header__menu-link.flex-container.flex-center Продукція2
                                li.menu-item.header__menu-item
                                    a(href="./").menu-link.header__menu-link.flex-container.flex-center Продукція
                                li.menu-item.header__menu-item
                                    a(href="./").menu-link.header__menu-link.flex-container.flex-center Продукція
                        li.menu-item.header__menu-item
                            a(href="#gallery").menu-link.header__menu-link.flex-container.flex-center.link-scroll Галерея
                        li.menu-item.header__menu-item
                            a(href="#about").menu-link.header__menu-link.flex-container.flex-center.link-scroll Про нас
                        li.menu-item.header__menu-item
                            a(href="./news.html").menu-link.header__menu-link.flex-container.flex-center Новини
                        li.menu-item.header__menu-item
                            a(href="#contacts").menu-link.header__menu-link.flex-container.flex-center.link-scroll Контакти
                a#toggle-menu(href="#")
                    span