.news.news-page
    .news-wrapper
        .row
            h1.title.main-title Новини
            - for(var n = 0; n < 4; n++)
                .col-lg-6.col-md-6.col-sm-12.col-xs-12
                    .news-view
                        img.news-img(src="./images/news3.png" alt="news" title="news")
                        .news-text-wrapper
                            span.news-date 28.05.2014
                            p.news-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quasi sequi veniam voluptate! Aut excepturi explicabo harum iure laborum, omnis quae qui recusandae! Aliquam architecto id, nemo praesentium quisquam repudiandae.
                            a.news-link.transition Читати