section.category
    hr.title-line
    h2.title.main-title#contacts NAME OF PRODUCT
    .category-wrapper
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad blanditiis cumque debitis deserunt dicta dolorem dolores earum enim esse ex explicabo, maiores necessitatibus non praesentium ratione sapiente tenetur veritatis?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad blanditiis cumque debitis deserunt dicta dolorem dolores earum enim esse ex explicabo, maiores necessitatibus non praesentium ratione sapiente tenetur veritatis?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad blanditiis cumque debitis deserunt dicta dolorem dolores earum enim esse ex explicabo, maiores necessitatibus non praesentium ratione sapiente tenetur veritatis?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad blanditiis cumque debitis deserunt dicta dolorem dolores earum enim esse ex explicabo, maiores necessitatibus non praesentium ratione sapiente tenetur veritatis?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad blanditiis cumque debitis deserunt dicta dolorem dolores earum enim esse ex explicabo, maiores necessitatibus non praesentium ratione sapiente tenetur veritatis?
